.navbar-text {
    font-family: "InterRegular";
    font-size: 20px;
    text-decoration: none;
    color: var(--navbar-text);
    transition: all 0.2s linear;
}

.navbar-title {
    font-family: "InterRegular";
    font-size: 20px;
    text-decoration: none;
    color: var(--navbar-text-active);
    transition: all 0.2s linear;
}

#navbar a.active {
    color: var(--navbar-text-active);
}

#navbar {
    /* background-color: var(--navbar-bg); */
    background: transparent; 
    backdrop-filter: blur(30px);
    display: flex;
    gap: 50;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    padding-bottom: 20px;
}

#navbar a:hover {
    color: var(--navbar-text-active);
}

.home-super-container {
    height: 100vh
}

.myface {
    width: clamp(200px, 30vw, 400px);
    height: clamp(200px, 30vw, 400px);
}

.darkButton {
    background-color: purple;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.4s;
}

.darkButton:hover {
    background-color: rgb(85, 14, 85);
}

.lightButton {
    background-color: beige;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.4s;
}

.lightButton:hover {
    background-color: rgb(200, 200, 178);
}

.home-container {
    width: clamp(1rem, 80vw, 80rem);
    display: flex;
    gap: 20px;
}

.title {
    font-family: "InterBold";
    background: linear-gradient(to right, var(--gradient-start) 0%, var(--gradient-end) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--text-color);
    font-size: clamp(30px, 7vw, 75px)
}

.subtitle {
    font-family: "InterRegular";
    /* font-size: 45px; */
    font-size: clamp(20px, 3.5vw, 45px);
    color: var(--text-color);
}

.social-icon:hover {
    background-color: var(--icon-hover);
}

.social-icon {
    padding: 10px;
    border-radius: 15px;   
    transition: background-color 0.2s linear;    
}

.social-container {
   display: flex; 
   gap: 45px;
   padding-top: 10px
}

.home-info-container {
    justify-content: center;
    gap: 15;
    display: flex;
    flex-direction: column;
}

.home-container-small {
    display: none;
}

#navbar-small {
    display: none;
}


@media only screen and (max-width: 864px) {
    .title {
        font-family: "InterBold";
        /* font-size: 75px; */
        background: linear-gradient(to right, var(--gradient-start) 0%, var(--gradient-end) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: var(--text-color);
        font-size: clamp(30px, 10vw, 75px);
    }

    .subtitle {
        font-family: "InterRegular";
        font-size: clamp(20px, 5vw, 45px);
        color: var(--text-color);
    }

    .home-container {
        display: none;
    }

    .home-info-container {
        align-items: center;
    }

    .subtitle {
        text-align: center;
    }
    
    .home-container-small {
        width: clamp(1rem, 80vw, 80rem);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 5vh;
    }

    .home-super-container {
        height: 90vh;
    }

    .social-container {
        gap: 35px;
     }
}


/* Change navbar to compressed */
@media only screen and (max-width: 760px) {
    #navbar {
        display: none;
    }

    #navbar-small {
        background: transparent; 
        backdrop-filter: blur(30px);
        display: flex;
        gap: 50;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 100;
        padding-bottom: 10px;
    }

    .nav-menu-btn {
        border: solid 1px var(--navbar-text);
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        transition: background-color 0.4s;
    }
}