.i-project-title {
    font-size: 30px;
    font-family: "InterBold";
    padding-bottom: 10px;
}

.i-project-subtitle {
    font-family: "InterRegular";
    font-size: 18px;
    font-style: italic;
    margin-bottom: 25px;
    /* background-color: rgb(213, 223, 231); */
    /* color: #3AACFF; */
    /* padding: 5px; */
    /* border-radius: 3px; */
}

.blurb {
    font-size: 18px;
    font-family: "InterRegular";
    padding-bottom: 10px;
    text-indent: 1em;
    line-height: 1.6;
}

.info-title {
    background-color: rgb(217, 231, 213);
    color: #26a944;
    font-family: "InterBold";
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
}

.info-content {
    font-family: "InterRegular";
    font-size: 16px
}

.info-content-link {
    font-family: "InterRegular";
    font-size: 16px;
    color: #2b9278;
}

.info-content-link-disabled {
    font-family: "InterRegular";
    font-size: 16px;
    color: #2b9278;
    opacity: 0.5;
}

.info-content-link:hover {
    text-decoration: underline;
}

.awards-header {
    font-size: 25px;
    font-family: "InterBold";
    padding-bottom: 5px;
    padding-top: 15px;
}

iframe { 
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
  }

.github-btn {
    display: flex;
    gap: 5px;
    font-size: 15px;
    color: white;
    background-color: #2b9278;
    justify-content: center;
    align-items: center;
    font-family: "InterMedium";
    border-radius: 10px;
    padding: 5px;
    transition: background-color 0.2s linear;

}

.github-btn:hover {
    background-color: #1d6352;
}

.designation {
    width: 2.5em;
    border-radius: 10px;  
    padding: 5px;
    transition: transform 0.2s ease-in-out, background-color 0.2s linear;
}

.designation:hover {
    /* background-color: rgb(231, 231, 231); */
    transform: rotate(15deg) scale(1.2);
}

.tooltip {
    opacity: 0;
    background-color: rgb(231, 231, 231);
    color: black;
    border-radius: 6px;
    padding: 5px;
    font-family: "InterRegular";
    z-index: 1;
    position: absolute;
    top: -2.3rem;
    
    transition: opacity 0.2s linear; 
}

.designation:hover + .tooltip{
    opacity: 1;
}