@font-face {
  font-family: "InterBold";
  src: local("InterBold"),
  url("./fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: bold
}

@font-face {
  font-family: "InterRegular";
  src: local("InterRegular"),
  url("./fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal
}

@font-face {
  font-family: "InterMedium";
  src: local("InterMedium"),
  url("./fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500
}

:root {
  --background-color: #f6f6f6;
  --text-color: black;
  --navbar-gray: rgba(246, 246, 246, 0.7);
  --background-highlight: rgb(231, 231, 231);
  --project-tag-bg: rgb(213, 223, 231);
  --project-tag-color: #3AACFF;
  --info-tag-bg: rgb(217, 231, 213);
  --info-tag-color: #26a944;
  --info-content-link: #2b9278;
  --github-color: white;
  --github-button: #2b9278;
  --github-button-hover: #1d6352;
  --gradient-start: #3674A0;
  --gradient-end: #2b9278;
}

[data-theme="dark"] {
  --background-color: #1d1d1d;
  --text-color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}
